menuconfig ESPCAN
    bool "ESPCan"
    default n
    help
        Select this option to enable esp can driver and show the submenu with esp can features.

config ESP_CAN_NODE_ITSELF
    int "ESP CAN Node itself"
    default 612
    range 0 1000
    depends on ESPCAN
    help
        ESP CAN NODE IDENTIFIER ITSELF.

config ESP_CAN_RXD_PIN_NUM
    int "Pin Number of CAN RXD"
    range 4 5
    default 4
    depends on ESPCAN
    help
        Number of CAN_RXD_PIN_NUM.
		Can be any unpulled GPIO. Check PIN List.
        Tested with GPIO4 so this is default.

config ESP_CAN_TXD_PIN_NUM
    int "Pin Number of CAN TXD"
    range 4 5
    default 5
    depends on ESPCAN
    help
        Number of CAN_TXD_PIN_NUM.
		Can be any unpulled GPIO. Check PIN List
        Tested with GPIO5 so this is default.

choice ESP_CAN_SPEED
    prompt "Select the ESP_CAN_SPEED used for the ESP CAN Driver"
	default CONFIG_CAN_SPEED_125KBPS
	depends on ESPCAN
	help
		CAN_SPEED_100KBPS 		CAN Node runs at 100kBits.
		CAN_SPEED_125KBPS 		CAN Node runs at 125kBits.
		CAN_SPEED_250KBPS 		CAN Node runs at 250kBits.
		CAN_SPEED_500KBPS 		CAN Node runs at 500kBits.
		CAN_SPEED_800KBPS 		CAN Node runs at 800kBits.
		CAN_SPEED_1000KBPS      CAN Node runs at 1000kBits.
		CAN_SPEED_USER_KBPS     CAN Node runs with custom speed

		You can select here a standard Baudrate.
		You can also set a Baudrate by user later as input here ( in work asap )
	
config CAN_SPEED_100KBPS
    bool "CAN SPEED 100KBPS"
    help
        Select this: CAN Node runs at 100kBits.

config CAN_SPEED_125KBPS
    bool "CAN SPEED 125KBPS"
    help
        Select this: CAN Node runs at 125kBits.

config CAN_SPEED_250KBPS
    bool "CAN SPEED 250KBPS"
    help
        Select this: CAN Node runs at 250kBits.

config CAN_SPEED_500KBPS
    bool "CAN SPEED 500KBPS"
    help
        Select this: CAN Node runs at 500kBits.

config CAN_SPEED_800KBPS
    bool "CAN SPEED 800KBPS"
    help
        Select this: CAN Node runs at 800kBits.
		
config CAN_SPEED_1000KBPS
    bool "CAN SPEED 1000KBPS"
    help
        Select this: CAN Node runs at 1000kBits.

config CAN_SPEED_USER_KBPS
    bool "CAN SPEED USER KBPS"
    help
        Select this: CAN Node runs at USER kBits.

config CAN_SPEED_USER_KBPS_VAL
    int "USER CAN Speed in kBit/s"
    default 125
    range 50 1000
    depends on CAN_SPEED_USER_KBPS
    help
        You can set your USER CAN Speed by input int 
		Range 50 ... 1000 kBit/s
		Be sure your Speed is supported by your HW / BUS
		
endchoice

choice ESP_CAN_TEST_SENDING
    prompt "enable/disable to send a test frame"
	default 0
	depends on ESPCAN
	help
		You can select enable/disable to Send Test Frames 

config CAN_TEST_SENDING_ENABLED
    bool "TEST SENDING ENABLED"
    help
        enabled: a Test Frame with counter is send all 1000ms

config CAN_TEST_SENDING_DISABLED
    bool "TEST SENDING DISABLED"
    help
        disabled: a Test Frame with counter is not send 
		
endchoice