sdk/
cache/
user_config.h
server-ca.crt
sdkconfig
sdkconfig.old*
build/
app/
components/*/.output/
tools/toolchains
extmods.ini

#ignore Eclipse project files
.cproject
.project
.settings/
.vscode/**
