[submodule "esp8266-rtos-sdk"]
	path = sdk/esp8266-rtos-sdk
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "toolchains"]
	path = tools/toolchains
	url = https://github.com/jmattsson/nodemcu-prebuilt-toolchains.git
[submodule "sdk/esp32-esp-idf"]
	path = sdk/esp32-esp-idf
	url = https://github.com/espressif/esp-idf.git
