sdk/
cache/
user_config.h
server-ca.crt
sdkconfig
sdkconfig.old*
build/
app/
components/*/.output/

#ignore Eclipse project files
.cproject
.project
.settings/
.vscode/settings.json
.vscode/ipch/fe419f1883bd06f2/mmap_address.bin
.vscode/ipch/fe419f1883bd06f2/LSTATE.ipch
.vscode/ipch/e7607df847f889c5/mmap_address.bin
.vscode/ipch/d65b667f1e6f2379/mmap_address.bin
.vscode/ipch/d105acc094796347/mmap_address.bin
.vscode/ipch/cdc93eaed70638c1/mmap_address.bin
.vscode/ipch/bf95d12d5407a91f/mmap_address.bin
.vscode/ipch/bf95d12d5407a91f/LAPI.ipch
.vscode/ipch/bceba0551fa543a4/mmap_address.bin
.vscode/ipch/a4d50541fd4ee800/mmap_address.bin
.vscode/ipch/8a5709e85712b787/mmap_address.bin
.vscode/ipch/86252f679bdcb5f9/mmap_address.bin
.vscode/ipch/86252f679bdcb5f9/GPIO.ipch
.vscode/ipch/816e76faac50511b/mmap_address.bin
.vscode/ipch/7c41fb695d110917/mmap_address.bin
.vscode/ipch/6cdd96e8ec2bd5e3/mmap_address.bin
.vscode/ipch/62b5bd8ce69893ec/mmap_address.bin
.vscode/ipch/59ccfc5f271eee3b/mmap_address.bin
.vscode/ipch/42aa1d917cd7b882/mmap_address.bin
.vscode/ipch/34860389088d8519/mmap_address.bin
.vscode/ipch/2ecaf8200dd6ac1f/mmap_address.bin
.vscode/ipch/2a61bf4592c42b9a/mmap_address.bin
.vscode/ipch/2a61bf4592c42b9a/LAUXLIB.ipch
.vscode/ipch/18f7c657ff443b05/mmap_address.bin
.vscode/ipch/515481f348b93048/mmap_address.bin
.vscode/ipch/acd60552697743f5/mmap_address.bin
