[submodule "app/u8g2lib/u8g2"]
	path = app/u8g2lib/u8g2
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "app/ucglib/ucg"]
        path = app/ucglib/ucg
        url = https://github.com/olikraus/Ucglib_Arduino.git
