sdk/
cache/
user_config.h
server-ca.crt
sdkconfig
sdkconfig.old*
build/
components/*/.output/
tools/toolchains
extmods.ini
.ccache
bin

.gdb_history
app/lua/.std
app/lua53/.std
sdk/
local/
luac.cross
luac.cross.int
uz_unzip
uz_zip

#ignore Eclipse project files
.cproject
.project
.settings/

# ignore VS Code files
.vscode/**

# ignore IDEA files
.idea
*.iml

#ignore temp file for build infos
buildinfo.h
