site_name: NodeMCU Documentation
site_description: Description of the NodeMCU documentation
repo_url: https://github.com/nodemcu/nodemcu-firmware/

theme: readthedocs
strict: true

markdown_extensions:
#http://pythonhosted.org/Markdown/extensions/admonition.html
- admonition:
- toc:
    permalink: True

#requird due to https://github.com/rtfd/readthedocs.org/issues/1313
#see http://mkdocs.readthedocs.org/en/latest/user-guide/styling-your-docs/#customising-a-theme
extra_css:
- css/extra.css
extra_javascript:
- js/extra.js

site_favicon: img/favicon.png

pages:
- Overview: 'index.md'
- English:
    - Home: 'en/index.md'
    - Building the firmware: 'en/build.md'
    - Flashing the firmware: 'en/flash.md'
    - FAQ: 'en/faq.md'
    - Support: 'en/support.md'
    - Modules:
        - 'adc': 'en/modules/adc.md'
        - 'bit': 'en/modules/bit.md'
        - 'cjson': 'en/modules/cjson.md'
        - 'crypto': 'en/modules/crypto.md'
        - 'enduser setup': 'en/modules/enduser-setup.md'
        - 'file': 'en/modules/file.md'
        - 'gpio': 'en/modules/gpio.md'
        - 'hx711' : 'en/modules/hx711.md'
        - 'i2c' : 'en/modules/i2c.md'
        - 'net': 'en/modules/net.md'
        - 'node': 'en/modules/node.md'
        - 'mqtt': 'en/modules/mqtt.md'
        - 'pwm' : 'en/modules/pwm.md'
        - 'rtcmem': 'en/modules/rtcmem.md'
        - 'rtctime': 'en/modules/rtctime.md'
        - 'rtcfifo': 'en/modules/rtcfifo.md'
        - 'sntp': 'en/modules/sntp.md'
        - 'spi': 'en/modules/spi.md'
        - 'tmr': 'en/modules/tmr.md'
        - 'tsl2561': 'en/modules/tsl2561.md'
        - 'u8g': 'en/modules/u8g.md'
        - 'uart': 'en/modules/uart.md'
        - 'ucg': 'en/modules/ucg.md'
        - 'wifi': 'en/modules/wifi.md'
        - 'ws2801': 'en/modules/ws2801.md'
        - 'ws2812': 'en/modules/ws2812.md'
- Deutsch:
    - Home: 'de/index.md'
