site_name: NodeMCU Documentation
site_description: Description of the NodeMCU documentation
repo_url: https://github.com/nodemcu/nodemcu-firmware/

theme:
  name: "readthedocs"
strict: false #Allows to build and test documentation in local environment where some links are unreachable

markdown_extensions:
#http://pythonhosted.org/Markdown/extensions/admonition.html
- admonition:
- toc:
    permalink: True

#required due to https://github.com/rtfd/readthedocs.org/issues/1313
#see http://mkdocs.readthedocs.org/en/latest/user-guide/styling-your-docs/#customising-a-theme
extra_css:
- css/extra.css
extra_javascript:
- js/extra.js

pages:
- Overview: 'index.md'
- Basics:
    - Getting started: 'getting-started.md'
    - Building the firmware: 'build.md'
    - Flashing the firmware: 'flash.md'
    - Uploading code: 'upload.md'
    - Compiling code: 'compiling.md'
    - Support: 'support.md'
- FAQs:
    - Lua Developer FAQ: 'lua-developer-faq.md'
    - Extension Developer FAQ: 'extn-developer-faq.md'
    - Hardware FAQ: 'hardware-faq.md'
- Whitepapers:
    - Filesystem on SD card: 'sdcard.md'
    - Internal filesystem: 'spiffs.md'
    - Lua Compact Debug (LCD): 'lcd.md'
    - Lua Flash Store (LFS): 'lfs.md'
- Lua Modules:
    - 'bh1750': 'lua-modules/bh1750.md'
    - 'ds18b20': 'lua-modules/ds18b20.md'
    - 'ds3231': 'lua-modules/ds3231.md'
    - 'fifo' : 'lua-modules/fifo.md'
    - 'fifosock' : 'lua-modules/fifosock.md'
    - 'ftpserver': 'lua-modules/ftpserver.md'
    - 'hdc1000': 'lua-modules/hdc1000.md'
    - 'httpserver': 'lua-modules/httpserver.md'
    - 'imap': 'lua-modules/imap.md'
    - 'lm92': 'lua-modules/lm92.md'
    - 'mcp23008': 'lua-modules/mcp23008.md'
    - 'redis': 'lua-modules/redis.md'
    - 'yeelink': 'lua-modules/yeelink.md'
- C Modules:
    - 'adc': 'modules/adc.md'
    - 'ads1115': 'modules/ads1115.md'
    - 'adxl345' : 'modules/adxl345.md'
    - 'am2320': 'modules/am2320.md'
    - 'apa102': 'modules/apa102.md'
    - 'bit': 'modules/bit.md'
    - 'bloom' : 'modules/bloom.md'
    - 'bme280': 'modules/bme280.md'
    - 'bme680': 'modules/bme680.md'
    - 'bmp085': 'modules/bmp085.md'
    - 'cjson': 'modules/cjson.md'
    - 'coap': 'modules/coap.md'
    - 'color-utils': 'modules/color-utils.md'
    - 'cron': 'modules/cron.md'
    - 'crypto': 'modules/crypto.md'
    - 'dht': 'modules/dht.md'
    - 'ds18b20': 'modules/ds18b20.md'
    - 'encoder': 'modules/encoder.md'
    - 'enduser setup': 'modules/enduser-setup.md'
    - 'file': 'modules/file.md'
    - 'gdbstub': 'modules/gdbstub.md'
    - 'gpio': 'modules/gpio.md'
    - 'hdc1080': 'modules/hdc1080.md'
    - 'hmc5883l': 'modules/hmc5883l.md'
    - 'http': 'modules/http.md'
    - 'hx711' : 'modules/hx711.md'
    - 'i2c' : 'modules/i2c.md'
    - 'l3g4200d' : 'modules/l3g4200d.md'
    - 'mcp4725': 'modules/mcp4725.md'
    - 'mdns': 'modules/mdns.md'
    - 'mqtt': 'modules/mqtt.md'
    - 'net': 'modules/net.md'
    - 'node': 'modules/node.md'
    - 'ow (1-Wire)': 'modules/ow.md'
    - 'pcm' : 'modules/pcm.md'
    - 'perf': 'modules/perf.md'
    - 'pwm' : 'modules/pwm.md'
    - 'rc' : 'modules/rc.md'
    - 'rfswitch' : 'modules/rfswitch.md'
    - 'rotary' : 'modules/rotary.md'
    - 'rtcfifo': 'modules/rtcfifo.md'
    - 'rtcmem': 'modules/rtcmem.md'
    - 'rtctime': 'modules/rtctime.md'
    - 'si7021' : 'modules/si7021.md'
    - 'sigma delta': 'modules/sigma-delta.md'
    - 'sjson': 'modules/sjson.md'
    - 'sntp': 'modules/sntp.md'
    - 'somfy': 'modules/somfy.md'
    - 'spi': 'modules/spi.md'
    - 'sqlite3': 'modules/sqlite3.md'
    - 'struct': 'modules/struct.md'
    - 'switec': 'modules/switec.md'
    - 'tcs34725': 'modules/tcs34725.md'
    - 'tls': 'modules/tls.md'
    - 'tm1829': 'modules/tm1829.md'
    - 'tmr': 'modules/tmr.md'
    - 'tsl2561': 'modules/tsl2561.md'
    - 'u8g2': 'modules/u8g2.md'
    - 'uart': 'modules/uart.md'
    - 'ucg': 'modules/ucg.md'
    - 'websocket': 'modules/websocket.md'
    - 'wifi': 'modules/wifi.md'
    - 'wifi.monitor': 'modules/wifi_monitor.md'
    - 'wps': 'modules/wps.md'
    - 'ws2801': 'modules/ws2801.md'
    - 'ws2812': 'modules/ws2812.md'
    - 'ws2812-effects': 'modules/ws2812-effects.md'
    - 'xpt2046': 'modules/xpt2046.md'
