#################################################################
# This file is configured in RTD -> Admin -> Advanced Settings! #
#################################################################
# Enforce a specific MkDocs version by using the standard pip requirements.txt syntax 
# mkdocs >= 0.16.3, < 0.17
