# Default to 4MB for builds
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Set custom partition table for 1.5MB firmware
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="components/platform/partitions.csv"
CONFIG_PARTITION_TABLE_SINGLE_APP=n
CONFIG_PARTITION_TABLE_TWO_OTA=n

# Squeeze in as much code as we can manage
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Empirical value to prevent a firmware crash due to stack overflow.
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Enable panic handler for task wdt to reset the firmware upon wdt timeout
CONFIG_ESP_TASK_WDT_PANIC=y

# Disable advanced features by default
CONFIG_MQTT_TRANSPORT_SSL=n
CONFIG_MQTT_TRANSPORT_WEBSOCKET=n
CONFIG_MQTT_USE_CUSTOM_CONFIG=n

# Enable address reuse for sockets in TIME_WAIT
# see https://github.com/nodemcu/nodemcu-firmware/pull/1838
CONFIG_LWIP_SO_REUSE=y

# Decrease the duration of sockets in TIME_WAIT
# see https://github.com/nodemcu/nodemcu-firmware/issues/1836
CONFIG_LWIP_TCP_MSL=5000

# Disable esp-idf's bluetooth component by default.
# The bthci module is also disabled and will enable bt when selected
CONFIG_BT_ENABLED=n

# Disable CR/LF translation, for legacy compatibility
CONFIG_NEWLIB_STDIN_LINE_ENDING_LF=y
CONFIG_NEWLIB_STDOUT_LINE_ENDING_LF=y
