menu "NodeMCU modules"

config LUA_MODULE_NODE
  bool "Node module"
  default "y"
  help
      Includes the node module (recommended).

config LUA_MODULE_FILE
  bool "File module"
  default "y"
  help
      Includes the file module (recommended).

config LUA_MODULE_ENCODER
  bool "Encoder module"
  default "n"
  help
      Includes the encoder module. This provides hex and base64 encoding and
      decoding functionality.

config LUA_MODULE_BTHCI
  bool "BlueTooth HCI interface module"
  default "n"
  help
      Includes the simple BlueTooth HCI module.

endmenu
