menu "NodeMCU miscellaneous"

choice LUA_OPTIMIZE_DEBUG_LEVEL
  prompt "Discard debug info in compiled Lua"
  default LUA_OPTIMIZE_DEBUG_NONE
  help
      Discard debug information in compiled Lua code to save memory.

config LUA_OPTIMIZE_DEBUG_NONE
  bool "No (keep full debug info)"
config LUA_OPTIMIZE_DEBUG_LOCAL_UPVAL
  bool "Some (discard local & upvalue debug info)"
config LUA_OPTIMIZE_DEBUG_LOCAL_UPVAL_LINENO
  bool "All (discard local, upvalue & line number info)"
endchoice

config LUA_OPTIMIZE_DEBUG
  int
  default 1 if LUA_OPTIMIZE_DEBUG_NONE
  default 2 if LUA_OPTIMIZE_DEBUG_LOCAL_UPVAL
  default 3 if LUA_OPTIMIZE_DEBUG_LOCAL_UPVAL_LINENO

endmenu
